* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/* navigation bar  */

.header {
  padding: 20px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: #103b51;
  color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
  background-color: rgb(80, 196, 184);
  color: #103b51;
  padding: 5px 10px 5px 45px;
}

.header h1 .seo {
  color: #d9dcd6;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 5px;
}

header nav ul li a {
  color: rgb(80, 196, 184);
  text-decoration: none;
  border-bottom: rgb(80, 196, 184) solid 5px;
  padding: 5px 15px;
}

header nav ul li a:hover {
  color: white;
  border-bottom: white solid 5px;
}

/* portfolio image and subtitle section  */

.portfolio-image {
  padding: 8em 0px 15px 0px;
  background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-blue-wood-panel-background-with-shiny-wood-texture-picture-image_1157499.jpg");
}

.portfolio-image img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin-left: 30px;
  box-shadow: 9px 9px #00000075;
}

.portfolio-image h3 {
  position: absolute;
  right: 32px;
  top: 9em;
  background-color: rgb(80, 196, 184);
  padding: 10px;
  color: #103b51;
  font-size: 30px;
}

/* main section  */

.content {
  display: inline-block;
  margin-left: 20px;
}

main section {
  display: flex;
}

section h2 {
  font-size: 3em;
  display: inline;
  border-right: #103b51 solid 5px;
  color: #103b51;
  text-align: right;
  padding-right: 20px;
}

/* about me section  */

.About-Me {
  padding: 30px 0px 25px 50px;
}

.About-Me p {
  padding: 1em 3em 1em 3em;
}

/* work section  */

.work {
  padding: 0px 0px 25px 69px;
}

.work-container {
  padding: 1em 4em 0px 3em;
  width: 100%;
}

/* work section featured project  */

.featured-container {
  background-size: cover;
  border-radius: 2em;
  height: 18em;
  border: rgb(80, 196, 184) solid 10px;
  background-image:linear-gradient(to bottom,rgba(66,135,133,0.5) 0%, rgba(158,158,158,0.7) 100%) ,url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
}

.featured-container:hover {
  background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
  cursor: pointer; 
}

.featured-container div {
  background-color: rgb(80, 196, 184);
  width: fit-content;
  top: 12em;
  position: relative;
  padding: 10px;
  border-radius: 0em 1em 1em 0em;
  color: #103b51;
}


/* work section other projects  */

.work-container ul {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work-container ul li {
  
}

.work-container ul li a img {
  height: 10em;
  border-radius: 2em;
  border: rgb(80, 196, 184) solid 5px;
  filter: opacity(40%);
}

.work-container ul li a img:hover {
  filter:none;
}

.work-container ul li a {
  position: relative;
}

.work-container ul li a div {
  background-color: rgb(80, 196, 184);
  width: fit-content;
  padding: 5px;
  border-radius: 0em 1em 1em 0em;
  position: absolute;
  bottom: 32px;
  color: #103b51;
}

/* contact me section  */

.contact-me {
  padding: 0px 0px 25px 9px;
}

.contact-me ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.contact-me ul li {

}

.contact-me ul li a {
  border-bottom: #103b51 solid 5px;
  text-decoration: none;
  color: #103b51;
  font-size: 20px;
  padding: 5px 15px;

}

.contact-me ul li a:hover {
  border-bottom: rgb(247, 0, 255) solid 5px;
  color: rgb(247, 35, 194);
}

/* footer section  */

.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
